<form action="/answer" data-turbo="false">
<label for="">Ask your coach anything:</label>
<div class="input-group my-2">
  <input type="text" name="question" class="form-control" aria-label="Ask your coach anything:" aria-describedby="button-addon2">
  <input class="btn btn-primary" type="submit" id="button-addon2" value="Ask">
  </div>
</form>
